<style>
    body {
        background-color: #f8f9fa;
    }

    .navbar {
        background-color: #007bff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }

    .nav-link {
        color: #fff;
    }

    .container {
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }

    h2 {
        color: #007bff;
    }

    .add-stock-form {
        max-width: 500px;
        margin: 0 auto;
        background-color: #f2f2f2;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }

    .add-stock-form h4 {
        color: #007bff;
    }

    footer {
        background-color: black;
    }

    .stock-status {
        background-color: #e9ecef;
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 20px;
    }

    .stock-status h4 {
        color: #6c757d;
    }

    .product-list {
        background-color: #e9ecef;
        border-radius: 10px;
        padding: 20px;
    }

    .product-list h4 {
        color: #6c757d;
    }

    .table th,
    .table td {
        border: none;
    }

    .btn-primary {
        background-color: #007bff;
        border: none;
    }

    .btn-primary:hover {
        background-color: #0056b3;
    }

    .btn-danger {
        background-color: #dc3545;
        border: none;
    }

    .btn-danger:hover {
        background-color: #c82333;
    }

    .error-message {

        color: #df071dd6;
        position: absolute;
        top: 90px;
        left: 40%;
    }

    .breadcrumbs {
        margin: 20px 0;
        font-size: 16px;
    }

    .breadcrumbs a {
        text-decoration: none;
        color: #007bff;
    }

    .breadcrumbs a:hover {
        color: black;
    }
</style>

<div class="container">
    {{#if flashMessage}}
    <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
        <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="close"></button>
        <strong>Success:</strong> {{flashMessage}}
    </div>
    {{/if}}
    {{#if message}}
    {{#if message.type}}
    <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
        <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="close"></button>
        <strong>Success:</strong> {{message.message}}
    </div>
    {{else}}
    <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
        <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="close"></button>
        <strong>Failed:</strong>
        {{message.message}}
    </div>
    {{/if}}
    {{/if}}
    <div class="breadcrumbs">
        <a href="/">dashboard</a>>
        <a href="/products/offer">offer</a>>
        <a href="/products/editOffer">editOffer</a>
    </div>
    <h2 class="text-center" style="margin-bottom: 45px;">Offer Management</h2>

    <!-- Add Stock Form -->
    <div class="add-stock-form">
        <h4>Edit Offer</h4>
        <form>

            <div class="mb-3">
                <label for="discount" class="form-label">Discount (%)</label>
                <input type="number" class="form-control" value="{{offer.discount_percentage}}" id="discount"
                    oninput="this.value = this.value.replace(/[^0-9]/g, '')" required>
            </div>

            <div class="mb-3">
                <label for="validTo" class="form-label">Valid To</label>
                <input type="date" class="form-control" id="validTo" value="{{to}}" required>
            </div>

            <button type="button" class="btn btn-primary" onclick="applyOffer(event,'{{from}}','{{offer._id}}')">
                <i class="fas fa-plus"></i> Edit Offer
            </button>
        </form>
    </div>
</div>

<script>

    function displayMessage(message, messageType) {
        var messageDiv = document.createElement('div');
        messageDiv.className = messageType;
        messageDiv.innerHTML = message;
        document.body.appendChild(messageDiv);
        setTimeout(function () {
            document.body.removeChild(messageDiv);
        }, 3000);
    }

    function applyOffer(event, validFrom, id) {
        event.preventDefault();

        const formData = {
            id: id,
            discount: parseInt(document.getElementById('discount').value),
            validFrom: validFrom,
            validTo: document.getElementById('validTo').value
        };

        if (!formData.discount) {
            alert('Please fill in all fields and make sure they are not empty.');
            return;
        }

        const currentDate = new Date();
        const expirationDate = new Date(formData.validTo);
        if (!formData.validTo || expirationDate < currentDate) {
            alert('Please provide a valid expiration date.');
            return;
        }

        if (formData.discount > 100) {
            alert('Please enter a discount percentage less than 100');
            return;
        }

        // Replace the following with your actual API endpoint
        const apiUrl = '/products/editOffer';

        fetch(apiUrl, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                location.href = '/products/offer'
            })
            .catch(error => {
                console.error('Error:', error);
                location.href = '/products/editOffer'
            });
    }

</script>