<style>
  .fa-solid,
  .fas {
    font-weight: 900;
    font-size: 30px;
    margin-right: 20px;
    color: black;
  }

  .fa-solid {
    transition: border-bottom 0.1s ease;
  }

  .fa-solid:hover {
    border-bottom: 2px solid #000;
    /* Change the color and thickness as needed */
    padding-bottom: 3px;
    /* Change the color and thickness as needed */
  }

  .cart-count {
    background-color: #23800b;
    color: white;
    border-radius: 28%;
    padding: 0px 6px;
    font-size: 12px;
    position: relative;
    top: 0%;
    left: -18px;
    bottom: 21px;
  }

  .col-md-3 {
    margin-bottom: 3rem;
  }

  .tog {
    margin-right: 5px;
  }

  .tog:hover {
    border: solid 1px gray;
  }

  .tog:focus {
    box-shadow: none;
  }

  .card-header {
    background-color: white;
    border: none;
  }

  .card:hover {
    transform: scale(1.05);
    /* Adjust the scaling factor as needed */
    transition: transform 0.3s ease;
  }

  .fa-regular.fa-heart:hover {
    color: red;
  }

  .prImg {
    height: 271px;
  }

  .prImg.img {
    width: 100%;
    height: 100%;
  }

  .catDrop {
    margin-top: 5px;
  }

  .catDrop:hover {
    background: grey;
  }

  .error-message {

    color: #df071dd6;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    position: fixed;
    top: 45px;
    left: 35%;
  }

  @media (min-width: 768px) and (max-width: 992px) {
    .prImg {
      height: 200px;
    }

    .prImg.img {
      width: 100%;
      height: 100%;
    }

    .buybtn {
      margin-top: 5px;
    }
  }

  @media (min-width: 200px) and (max-width: 768px) {
    .prImg {
      height: auto;
    }

    .prImg.img {
      width: 100%;
      height: 100%;
    }

    .spcl {
      text-align: center;
    }
  }

  @media (max-width: 992px) {

    .navbar-collapse {
      margin-bottom: 260px;
    }
  }

  @media (max-width: 576px) {
    .searchBtn {
      position: absolute;
      left: 70%;
    }

    .form-control {
      width: 70%;
    }
  }
</style>
</head>

<body>
  <section>
    {{#if message}}
    <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
      <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="close"></button>
      <strong>Success:</strong> {{message}}
    </div>
    {{/if}}

    <div class="container" style="display: flex;justify-content: space-between;">
      <div class="dropdown">
        <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" style="width: 158px;">
          Categories
        </button>
        <div class="dropdown-menu catDrop" aria-labelledby="dropdownMenu2">
          {{#each categories}}
          <button class="dropdown-item btn btn-outline-dark " id="categoryFilter" type="button"
            onclick="filterCatg('{{this.name}}')">{{this.name}}</button>
          {{/each}}
        </div>
      </div>
      <i class="fa-solid fa-sliders"></i>
    </div>
  </section>
  {{#if Banner}}
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" style="margin-top:60px;">

    <div class="carousel-inner">

      {{#each Banner}}
      <div class="carousel-item active">
        <img src="/uploads/{{this.bannerImg}}" class="d-block w-100" style="height: 350px; object-fit: cover;"
          alt="banner">

      </div>
      {{/each}}
    </div>
  </div>
  {{/if}}


  <div class="container mt-5">
    <div class="row">
      {{#each product}}
      <div class="col-md-3 mb-4">
        <div class="card pb-5">
          <div class="card-header text-right">
            <i class="fa-regular fa-heart" style="font-size: 24px;"></i>
          </div>
          <a href="/productDetails/{{_id}}">
            <div class="prImg"><img src="/croppedImages/{{this.images.[0]}}" class="card-img-top mx-auto d-block"
                alt="Card Image" style="max-width: 200px; height: auto;"></div>
          </a>
        </div>
        <div class="card-body text-center">
          <h5 class="card-title">{{this.name}}</h5>
          {{#if this.ProductDiscountedPrice}}
          <p class="card-text">Price:₹{{this.ProductDiscountedPrice}}<span
              style="text-decoration: line-through; margin-left: 15px;">₹{{this.price}}</span></p>
          {{else}}
          <p class="card-text">Price:₹{{this.price}}<span style="text-decoration: line-through; margin-left: 15px;">
            </span></p>
          {{/if}}
        </div>
        <div class="spcl" style="margin-top: 10px;margin-left: 15px;">
          <form style="text-align: center;" action="/addToCart/{{this._id}}" method="post"
            onclick="checkStock(event,{{this.stock}})" id="addForm"><button class="btn btn-primary">Add to
              cart</button>
          </form>

        </div>
      </div>
      {{/each}}

    </div>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center align-items-center">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        {{#each pgn }}
        <li class="page-item"><a class="page-link" href="/home?page={{this}}">{{this}}</a></li>
        {{/each}}

        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    function filterCatg(name) {
      fetch(`/filterCategory`, {
        method: 'POST',
        headers: {
          'Content-type': 'application/json'
        },
        body: JSON.stringify({ category: name })
      })
        .then(res => res.json())
        .then(data => {
          if (data.success) {
            window.location.href = '/filterCategory'
          }
        })
        .catch(err => {
          console.log('error:', err)
        })
    }
    function displayMessage(message, messageType) {
      var messageDiv = document.createElement('div');
      messageDiv.className = messageType;
      messageDiv.innerHTML = message;
      document.body.appendChild(messageDiv);
      setTimeout(function () {
        document.body.removeChild(messageDiv);
      }, 3000);
    }
    function checkStock(event, count) {
      if (count == 0) {
        event.preventDefault()
        displayMessage('sorry the selected product is out of Stock', 'error-message')
        alert('product is out of stock')
        return;
      }
      document.getElementById('addForm').submit();
      return;
    }
  </script>